<!DOCTYPE html>
<html lang="en">
{%load static%}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-reboot.css' %}">
    <script type="text/javascript" src="{% static 'bootstrap/js/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

</head>
<body>
<h3 style="text-align:center">Заполните форму</h3>
<div class="form-group">
    <div class="row justify-content-center">
        <form method="POST">{% csrf_token %}
            {%for f in form %}
            {%if form.errors%}
                <p>{{f.label}}</p>
                <p>{{f}}</p>
                <div style="color:red">{{f.errors}} </div>
            {%else%}
            <p>{{f.label}}</p>
                <p>{{f}}</p>
            {% endif %}
            {%endfor%}
            <button type="submit" class="btn btn-promary">Ok</button>
        </form>
    </div>
</div>
</body>
</html>